.back-top{
    width: 100px;
    height: 100px;
    border: 1px solid #ff0;
    background-color: #055;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1100px;
    bottom: 0px;
    position: fixed;
    a{
        font-size: 25px;
        color: #fff;
        margin-left: 15px;
    }
}
header{
    height: 550px;
    border: 1px solid;
    nav{
        width: 100%;
        height: 60px;
        border: 1px solid;
        display: flex;
        align-items: center;
        select{
            border: 0px solid;
            color: var(--text-tittle, #000);
            margin-left: 500px;
            margin-right: 30px;
            /* Paragraph/Semibold/Body - 16px */
            font-family: Montserrat SemiBold;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
        }
        .text-nav{
            color: var(--text-tittle, #1C3554);

            /* Paragraph/Semibold/Body - 16px */
            font-family: Montserrat SemiBold;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
        }
        .btn-nav{
            margin: 0px 20px;
            padding: 12px 36px;
            border-radius: 8px;
            border: 1px solid #1C3554;
        }
        .btn-nav:hover{
            cursor: pointer;
            background: #1C3554;
            a{
                color: #fff;
            }
        }
        .btn-nav2{
            border-radius: 8px;
            padding: 12px 36px;
            border: 1px solid #1C3554;
        }
        .btn-nav2:hover{
            cursor: pointer;
            background: #1C3554;
            a{
                color: #fff;
            }
        }
    }
    .hero{
        width: 100%;
        height: 490px;
        border: 1px solid;
        border-radius: 8px;
        background: var(--other-navy, #021934);
        padding-left: 50px;
        padding-top: 30px;
        .text-find{
            color: var(--text-white, #FFF);
            width: 550px;
            /* Heading/Bold/H2 - 64px */
            font-family: Rubik;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 88px; /* 137.5% */
        }
        .text-hero{
            color: var(--text-white, #c0bebe);
            width: 600px;
            /* Paragraph/Reguler/Body - 16px */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 168.75% */
        }
        input{
            padding: 20px 150px;
        }
        .btn-hero{ 
            width: 140px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #F72585;
            position: relative;
            bottom: 55px;
            left: 10px;
            a{
                color: #fff;
            }
        }
        .btn-hero:hover{
            background: #F72585;
            cursor: pointer;
        }
    }
}

.name-wish{
    width: 100%;
    height: 200px;
    padding-left: 70px;
    .recr-wish{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #808080;
    }
    .name-ramad{
        color: var(--text-tittle, #1C3554);
        font-variant-numeric: lining-nums proportional-nums;
        margin-left: 130px;
        transform: translateY(-90px);

        /* Heading/Bold/H4 - 32px */
        font-family: Rubik;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 150% */
        text-transform: capitalize;
    }
    .full{
        color: var(--text-body, #808080);
        font-variant-numeric: lining-nums proportional-nums;
        margin-left: 130px;
        transform: translateY(-90px);
        /* Heading/Medium/H6 - 16px */
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        text-transform: capitalize;
    }
}
.par-wish{
margin-left: 170px;
margin-bottom: 20px;
    .item-wish{
        a{
            
            color: var(--other-grey, #AAA);;
                max-width: 167px;
                padding: 12px 100px;
            }
        }
        a:hover{
            cursor: pointer;
            color: #fff;
            background: rgb(241, 62, 62);
            border-radius: 8px;
            transition: 0.5s;
        }
    }






.cards-home{
    width: 90%;
    height: 1050px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .card-home:hover{
        box-shadow: #ccc 0px 10px 20px 0px;
        cursor: pointer;
        transition: 0.5s;
    }
    .card-home{
        width: 265px;
        height: 349px;
        .star-home{
            span{
                font-size: 14px;
                color: var(--text-body, #808080);
            }
        }
        .gray-holder{
            margin: 5px auto;
            width: 90%;
            height: 45%;
            background: #ccc;
            border-radius: 4px;
        }
        .btn-home{
            width: 130px;
            height: 40px;
            background: #fff;
            border: 1px solid #4586D6;
            text-align: center;
            border-radius: 4px;
            margin: 0 auto;
            position: relative;
            bottom: 30px;
            padding: 10px 0px;
        }
        .btn-home:hover{
            cursor: pointer;
            background: #4586D6;
            transition: 0.5s;
            a{
                color: #fff;
            }
        }
        .star-home{
            padding: 0px 10px;

        }
        .card-text1{
            color: var(--text-tittle, #1C3554);
            font-variant-numeric: lining-nums proportional-nums;
            padding: 0px 10px;

            /* Heading/Medium/H6 - 16px */
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            text-transform: capitalize;
            transform: translateY(-20px);
        }
        .card-text2{
            color: var(--primary-pink, #F72585);
            transform: translateY(-10px);
            padding: 0px 10px;

            /* Paragraph/Semibold/Label - 12px */
            font-family: Montserrat SemiBold;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 200% */
        }
        .price{
            padding: 0px 10px;

            color: var(--text-tittle, #1C3554);
            /* Heading/Medium/H5 - 24px */
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 133.333% */
        span{
            color: var(--text-in-field, #CCC);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 168.75% */
        }
        }
    }
}


@media only screen and (max-width: 320px){
  .name-wish{
    position: relative;
    right: 80px;
    .full{
        width: 100%;
    }
  }  
  .par-wish{
    display: none;
  }
}
footer{
    height: 320px;
    background: var(--other-navy, #021934);
    .content-footer{
        padding-top: 50px;
        margin: 0 auto;
        width: 80%;
        height: 280px;
        display: flex;
        .left-footer{
            width: 50%;
            height: 100%;
        }
        .text1-footer{
            color: #fff;
            width: 410px;
            /* Paragraph/Reguler/Body - 16px */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 168.75% */
            padding: 20px 0px 60px 0px;
        }
        .text2-footer{
            color: #aca8a8;
            span{
                padding-right: 50px;
            }
        }
        
        .right-footer{
            width: 50%;
            height: 100%;
            .text3-footer{
                display: flex;
                padding: 0px 40px;
                .item-footer{
                    color: #fff;
                    padding-left: 30px;
                    .text4-footer{
                        .item2-footer{
                            padding-top: 15px;
                            padding-bottom: 15px;
                            a{
                                color: #614c4c;
                            }
                        }
                    }
                }
            }
        }
    }
}