.back-top{
    width: 100px;
    height: 100px;
    border: 1px solid #ff0;
    background-color: #055;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1100px;
    bottom: 0px;
    position: fixed;
    a{
        font-size: 25px;
        color: #fff;
        margin-left: 15px;
    }
}
footer{
    height: 320px;
    background: var(--other-navy, #021934);
    .content-footer{
        padding-top: 50px;
        margin: 0 auto;
        width: 80%;
        height: 280px;
        display: flex;
        .left-footer{
            width: 50%;
            height: 100%;
        }
        .text1-footer{
            color: #fff;
            width: 410px;
            /* Paragraph/Reguler/Body - 16px */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 168.75% */
            padding: 20px 0px 60px 0px;
        }
        .text2-footer{
            color: #aca8a8;
            span{
                padding-right: 50px;
            }
        }
        
        .right-footer{
            width: 50%;
            height: 100%;
            .text3-footer{
                display: flex;
                padding: 0px 40px;
                .item-footer{
                    color: #fff;
                    padding-left: 30px;
                    .text4-footer{
                        .item2-footer{
                            padding-top: 15px;
                            padding-bottom: 15px;
                            a{
                                color: #614c4c;
                            }
                        }
                    }
                }
            }
        }
    }
}
header{
    height: 550px;
    border: 1px solid;
    nav{
        width: 100%;
        height: 60px;
        border: 1px solid;
        display: flex;
        align-items: center;
        select{
            border: 0px solid;
            color: var(--text-tittle, #000);
            margin-left: 500px;
            margin-right: 30px;
            /* Paragraph/Semibold/Body - 16px */
            font-family: Montserrat SemiBold;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
        }
        .text-nav{
            color: var(--text-tittle, #1C3554);

            /* Paragraph/Semibold/Body - 16px */
            font-family: Montserrat SemiBold;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
        }
        .btn-nav{
            margin: 0px 20px;
            padding: 12px 36px;
            border-radius: 8px;
            border: 1px solid #1C3554;
        }
        .btn-nav:hover{
            cursor: pointer;
            background: #1C3554;
            a{
                color: #fff;
            }
        }
        .btn-nav2{
            border-radius: 8px;
            padding: 12px 36px;
            border: 1px solid #1C3554;
        }
        .btn-nav2:hover{
            cursor: pointer;
            background: #1C3554;
            a{
                color: #fff;
            }
        }
    }
    .hero{
        width: 100%;
        height: 490px;
        border: 1px solid;
        border-radius: 8px;
        background: var(--other-navy, #021934);
        padding-left: 50px;
        padding-top: 30px;
        .text-find{
            color: var(--text-white, #FFF);
            width: 550px;
            /* Heading/Bold/H2 - 64px */
            font-family: Rubik;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 88px; /* 137.5% */
        }
        .text-hero{
            color: var(--text-white, #c0bebe);
            width: 600px;
            /* Paragraph/Reguler/Body - 16px */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 168.75% */
        }
        input{
            padding: 20px 150px;
        }
        .btn-hero{ 
            width: 140px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 1px solid #F72585;
            position: relative;
            bottom: 55px;
            left: 10px;
            a{
                color: #fff;
            }
        }
        .btn-hero:hover{
            background: #F72585;
            cursor: pointer;
        }
    }
}